In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import mode
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [135]:
train = pd.read_csv('/home/muskan/personal/Datasets/BigmartTrain.csv')
test = pd.read_csv('/home/muskan/personal/Datasets/BigmartTest.csv')

In [136]:
print train.shape
print test.shape
print train.info()
print test.info()

(8523, 12)
(5681, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
Item_Identifier              5681 non-null object
Item_Weight                  4705 non-null float64
Item_Fat_Content             5681 non-null object
Item_Visibility              5681 non-null float64
Item_Type                    5681 non-null object
Item_MRP                     5681 non-null float64
Outlet_Identifier            5681 non-null object
Outlet_Establishment_Year    5681 non-null int64
Outlet_Size                  4075 non-null object
Outlet_Location_Type         5681 non-null object
Outlet_Type                  5681 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB
None

In [137]:
categorical_features = train.select_dtypes(include = [np.object])
numerical_features = train.select_dtypes(include = [np.int, np.float])
print categorical_features.columns
print numerical_features.head(1)
categorical_features_test = test.select_dtypes(include = [np.object])
numerical_features_test = test.select_dtypes(include = [np.int, np.float])
print categorical_features_test.columns
numerical_features_test.head(1)

Index([u'Item_Identifier', u'Item_Fat_Content', u'Item_Type',
       u'Outlet_Identifier', u'Outlet_Size', u'Outlet_Location_Type',
       u'Outlet_Type'],
      dtype='object')
   Item_Weight  Item_Visibility  Item_MRP  Outlet_Establishment_Year  \
0          9.3         0.016047  249.8092                       1999

   Item_Outlet_Sales
0           3735.138
Index([u'Item_Identifier', u'Item_Fat_Content', u'Item_Type',
       u'Outlet_Identifier', u'Outlet_Size', u'Outlet_Location_Type',
       u'Outlet_Type'],
      dtype='object')

   Item_Weight  Item_Visibility  Item_MRP  Outlet_Establishment_Year
0        20.75         0.007565  107.8622                       1999

In [138]:
print train.describe()
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  7060.000000      8523.000000  8523.000000                8523.000000
mean     12.857645         0.066132   140.992782                1997.831867
std       4.643456         0.051598    62.275067                   8.371760
min       4.555000         0.000000    31.290000                1985.000000
25%       8.773750         0.026989    93.826500                1987.000000
50%      12.600000         0.053931   143.012800                1999.000000
75%      16.850000         0.094585   185.643700                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

In [120]:
for col in train.columns:
    print col
    print train[col].value_counts()

Item_Identifier
FDW13    10
FDG33    10
DRN47     9
FDD38     9
FDV60     9
FDU12     9
FDX04     9
FDX20     9
FDP25     9
FDQ40     9
NCI54     9
FDG09     9
FDT07     9
NCJ30     9
FDF52     9
FDW26     9
FDV38     9
NCL31     9
FDF56     9
NCY18     9
FDW49     9
FDX31     9
FDO19     9
NCQ06     9
DRE49     9
NCB18     9
NCF42     9
NCK05     8
FDG38     8
FDY56     8
         ..
FDB10     2
FDU43     2
DRC24     2
FDP15     2
NCV18     2
DRE01     2
NCW30     2
FDA48     2
FDM38     2
DRL59     2
FDR57     2
FDD48     2
FDD22     2
NCW05     2
FDE38     2
FDH22     2
FDE39     2
NCS41     2
FDI36     2
NCG19     2
NCM42     2
FDQ60     1
FDO33     1
FDC23     1
FDY43     1
FDN52     1
FDT35     1
DRF48     1
FDK57     1
FDE52     1
Name: Item_Identifier, Length: 1559, dtype: int64
Item_Weight
12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
9.300     68
16.700    66
10.500    66
19.350    63
20.700    62
16.000    62
9.800     61
17.700    60
17.750    60
15.000    59
18.850    59
15.850    59
16.750    58
18.250    58
19.600    58
15.700    57
12.500    56
9.195     56
20.200    53
12.100    53
10.195    53
12.600    53
15.600    52
13.500    51
11.500    51
          ..
5.305      3
6.305      3
7.710      3
7.105      3
5.825      3
6.460      3
5.425      3
6.895      2
8.920      2
6.325      2
6.400      2
4.905      2
5.675      2
5.155      2
7.275      2
5.210      2
8.485      2
8.800      2
5.885      2
7.605      2
6.405      2
5.735      2
8.670      2
6.775      2
7.890      2
7.560      2
9.420      1
5.400      1
6.520      1
7.685      1
Name: Item_Weight, Length: 415, dtype: int64
Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64
Item_Visibility
0.000000    526
0.076975      3
0.041283      2
0.085622      2
0.187841      2
0.134976      2
0.107224      2
0.085275      2
0.076856      2
0.059836      2
0.112203      2
0.044024      2
0.072253      2
0.061271      2
0.061164      2
0.145266      2
0.081097      2
0.071958      2
0.103442      2
0.074613      2
0.072655      2
0.071833      2
0.136286      2
0.041355      2
0.026950      2
0.013952      2
0.160624      2
0.080640      2
0.097611      2
0.096592      2
           ...
0.100641      1
0.122735      1
0.099024      1
0.054600      1
0.118859      1
0.162572      1
0.076745      1
0.015461      1
0.057655      1
0.042113      1
0.029565      1
0.066447      1
0.035954      1
0.083222      1
0.021413      1
0.030921      1
0.081119      1
0.052811      1
0.118080      1
0.046654      1
0.021469      1
0.060134      1
0.096658      1
0.019064      1
0.164197      1
0.092576      1
0.067544      1
0.115168      1
0.146896      1
0.050902      1
Name: Item_Visibility, Length: 7880, dtype: int64
Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64
Item_MRP
172.0422    7
188.1872    6
170.5422    6
109.5228    6
196.5084    6
142.0154    6
196.5768    6
192.2478    5
143.2154    5
108.6912    5
37.4506     5
177.9370    5
179.7660    5
120.8756    5
121.3098    5
110.1544    5
49.8008     5
127.1020    5
154.4630    5
261.2910    5
48.8376     5
152.8366    5
37.9532     5
107.4622    5
113.2834    5
184.2292    4
180.3318    4
174.0422    4
147.3734    4
173.9422    4
           ..
244.4170    1
231.8300    1
108.1280    1
177.6344    1
241.8512    1
260.0936    1
109.1254    1
241.4196    1
253.7382    1
97.4042     1
164.9184    1
60.5904     1
185.9924    1
74.5038     1
218.5798    1
227.6352    1
41.2480     1
171.9422    1
162.0578    1
46.1718     1
114.1518    1
185.7582    1
253.5724    1
174.1054    1
225.3720    1
212.8218    1
190.3872    1
162.6868    1
189.1214    1
51.3008     1
Name: Item_MRP, Length: 5938, dtype: int64
Outlet_Identifier
OUT027    935
OUT013    932
OUT035    930
OUT046    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64
Outlet_Establishment_Year
1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64
Outlet_Size
Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64
Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64
Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64
Item_Outlet_Sales
958.7520     17
1342.2528    16
1845.5976    15
703.0848     15
1278.3360    14
1230.3984    14
1416.8224    13
1438.1280    12
759.0120     12
575.2512     12
1211.7560    12
539.2980     12
852.2240     11
1537.9980    11
1701.7848    11
639.1680     11
679.1160     11
2109.2544    11
2277.0360    11
1406.1696    11
1304.9680    11
2696.4900    10
1470.0864    10
1006.6896    10
2117.2440    10
2956.1520    10
1821.6288    10
2348.9424    10
918.8040     10
1677.8160    10
             ..
6911.0040     1
3837.0054     1
4821.7236     1
2526.0452     1
3211.8192     1
670.4606      1
2706.4770     1
316.2550      1
4483.4972     1
2119.9072     1
2925.5252     1
3542.7218     1
6275.1650     1
1803.6522     1
2764.4016     1
3073.9986     1
1311.6260     1
6524.8400     1
1998.7316     1
1599.9174     1
5329.0632     1
4610.6650     1
3938.8728     1
233.0300      1
7478.2656     1
3167.8764     1
2226.4352     1
1684.4740     1
1574.6170     1
6692.6216     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

In [139]:
for col in test.columns:
    print col
    print test[col].value_counts()

Item_Identifier
FDZ50    8
FDK57    8
FDW10    8
DRF48    8
NCS41    8
FDN52    8
FDP15    8
FDQ60    8
FDB47    7
FDC37    7
FDC23    7
FDE39    7
FDE21    7
NCV18    7
NCM42    7
FDU43    7
FDG28    7
NCR42    7
NCC55    7
NCV42    7
NCU29    7
FDE52    7
NCK31    7
FDS08    7
FDD48    7
FDI53    7
FDY32    7
FDN50    7
FDW58    7
DRE01    7
        ..
FDY55    1
FDC29    1
FDP28    1
FDB36    1
FDY57    1
FDJ09    1
FDA44    1
NCM07    1
FDV60    1
FDT24    1
FDD29    1
FDB56    1
NCI29    1
NCA06    1
FDX45    1
DRD12    1
FDR44    1
FDR59    1
FDD50    1
FDR43    1
FDG57    1
FDY49    1
FDV57    1
FDJ55    1
FDH58    1
FDH50    1
DRK12    1
FDI14    1
FDW48    1
FDP25    1
Name: Item_Identifier, Length: 1543, dtype: int64
Item_Weight
10.500    57
17.600    53
15.600    48
20.250    47
19.350    46
14.000    45
15.700    45
12.600    43
15.100    43
12.150    41
17.850    41
19.700    41
10.195    40
19.200    40
17.750    39
13.650    38
9.800     38
11.800    37
9.600     36
12.500    36
12.850    35
13.350    35
9.395     34
16.700    34
8.895     34
15.350    34
15.850    34
14.150    34
17.700    33
18.850    33
          ..
7.210      2
5.800      2
4.615      2
7.655      2
4.920      2
5.405      2
8.520      2
7.300      2
6.480      2
7.220      2
6.150      2
7.850      2
7.600      2
6.465      2
6.765      2
8.655      2
6.445      2
8.380      1
8.750      1
5.465      1
5.945      1
4.610      1
5.320      1
6.980      1
7.000      1
7.670      1
6.320      1
8.060      1
6.960      1
5.150      1
Name: Item_Weight, Length: 410, dtype: int64
Item_Fat_Content
Low Fat    3396
Regular    1935
LF          206
reg          78
low fat      66
Name: Item_Fat_Content, dtype: int64
Item_Visibility
0.000000    353
0.107493      2
0.159518      2
0.026711      2
0.056306      2
0.059067      2
0.052059      2
0.058132      2
0.079930      2
0.111681      2
0.060879      2
0.097213      2
0.072816      2
0.093368      2
0.060091      2
0.072139      2
0.085204      2
0.081772      2
0.014017      2
0.077011      2
0.103864      2
0.026297      2
0.046635      2
0.046596      2
0.121420      2
0.026836      2
0.097062      2
0.103652      2
0.026302      2
0.145041      2
           ...
0.149838      1
0.047379      1
0.124618      1
0.074674      1
0.056933      1
0.012077      1
0.128612      1
0.028363      1
0.165700      1
0.049690      1
0.084333      1
0.116475      1
0.080665      1
0.017787      1
0.030127      1
0.219915      1
0.121586      1
0.029908      1
0.182619      1
0.129861      1
0.082476      1
0.011728      1
0.091485      1
0.053867      1
0.072445      1
0.053802      1
0.101626      1
0.091380      1
0.060802      1
0.050289      1
Name: Item_Visibility, Length: 5277, dtype: int64
Item_Type
Snack Foods              789
Fruits and Vegetables    781
Household                638
Frozen Foods             570
Dairy                    454
Baking Goods             438
Canned                   435
Health and Hygiene       338
Meat                     311
Soft Drinks              281
Breads                   165
Hard Drinks              148
Starchy Foods            121
Others                   111
Breakfast                 76
Seafood                   25
Name: Item_Type, dtype: int64
Item_MRP
57.0614     5
173.6422    4
59.2562     4
175.0370    4
189.6214    4
127.9678    4
175.6370    4
181.7634    4
55.3588     4
117.7808    4
194.9452    4
195.3478    4
179.6660    4
85.8856     4
104.3990    4
182.1608    4
102.8990    4
178.2370    4
141.2154    4
256.2646    4
46.6060     4
147.8760    4
154.5630    4
36.4874     4
60.5194     4
150.8050    4
236.4564    4
61.3194     4
195.8768    4
125.5046    4
           ..
43.9112     1
151.0682    1
180.9318    1
182.5608    1
169.9132    1
187.5214    1
33.0900     1
80.6960     1
106.3622    1
185.4240    1
39.5796     1
102.0648    1
76.5696     1
214.4192    1
84.6250     1
197.5110    1
88.3830     1
101.1700    1
188.8188    1
81.7618     1
188.6898    1
145.3102    1
149.5050    1
155.0656    1
96.2436     1
88.4856     1
227.0694    1
88.2540     1
161.4920    1
112.1228    1
Name: Item_MRP, Length: 4402, dtype: int64
Outlet_Identifier
OUT027    624
OUT013    621
OUT035    620
OUT046    620
OUT049    620
OUT045    619
OUT018    618
OUT017    617
OUT010    370
OUT019    352
Name: Outlet_Identifier, dtype: int64
Outlet_Establishment_Year
1985    976
1987    621
1999    620
1997    620
2004    620
2002    619
2009    618
2007    617
1998    370
Name: Outlet_Establishment_Year, dtype: int64
Outlet_Size
Medium    1862
Small     1592
High       621
Name: Outlet_Size, dtype: int64
Outlet_Location_Type
Tier 3    2233
Tier 2    1856
Tier 1    1592
Name: Outlet_Location_Type, dtype: int64
Outlet_Type
Supermarket Type1    3717
Grocery Store         722
Supermarket Type3     624
Supermarket Type2     618
Name: Outlet_Type, dtype: int64

In [140]:
train.Item_Weight = train.Item_Weight.fillna(train.Item_Weight.mean())
print train.info()
test.Item_Weight = test.Item_Weight.fillna(test.Item_Weight.mean())
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  8523 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
Item_Identifier              5681 non-null object
Item_Weight                  5681 non-null float64
Item_Fat_Content             5681 non-null object
Item_Visibility              5681 non-null float64
Item_Type                    5681 non-null object
Item_MRP                     5681 non-null float64
Outlet_Identifier            5681 non-null object
Outlet_Establishment_Year    5681 non-null int64
Outlet_Size                  4075 non-null object
Outlet_Location_Type         5681 non-null object
Outlet_Type                  5681 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [122]:
outlet_size_mode = train.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:mode(x.astype('str')).mode[0]))
print outlet_size_mode 
missing_values = train['Outlet_Size'].isnull() 
train.loc[missing_values,'Outlet_Size'] = train.loc[missing_values,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])
print train.info()

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size           nan             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  8523 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  8523 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB
None

In [141]:
outlet_size_mode = test.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:mode(x.astype('str')).mode[0]))
print outlet_size_mode 
missing_values = test['Outlet_Size'].isnull() 
test.loc[missing_values,'Outlet_Size'] = test.loc[missing_values,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])
print test.info()

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size           nan             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
Item_Identifier              5681 non-null object
Item_Weight                  5681 non-null float64
Item_Fat_Content             5681 non-null object
Item_Visibility              5681 non-null float64
Item_Type                    5681 non-null object
Item_MRP                     5681 non-null float64
Outlet_Identifier            5681 non-null object
Outlet_Establishment_Year    5681 non-null int64
Outlet_Size                  5681 non-null object
Outlet_Location_Type         5681 non-null object
Outlet_Type                  5681 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB
None

In [142]:
train.Item_Visibility = train.Item_Visibility.replace(0,train.Item_Visibility.mean())
train.Item_Visibility.head()
print train.describe()
test.Item_Visibility = test.Item_Visibility.replace(0,test.Item_Visibility.mean())
test.Item_Visibility.head()
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  8523.000000      8523.000000  8523.000000                8523.000000
mean     12.857645         0.070213   140.992782                1997.831867
std       4.226124         0.048742    62.275067                   8.371760
min       4.555000         0.003575    31.290000                1985.000000
25%       9.310000         0.033085    93.826500                1987.000000
50%      12.857645         0.062517   143.012800                1999.000000
75%      16.000000         0.094585   185.643700                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  5681.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.069765   141.023273                1997.828903
std       4.245189         0.048394    61.809091                   8.372256
min       4.555000         0.003591    31.990000                1985.000000
25%       9.195000         0.033208    94.412000                1987.000000
50%      12.695633         0.062137   141.415400                1999.000000
75%      15.850000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

In [143]:
train['Item_Fat_Content'] = train['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print train['Item_Fat_Content'].value_counts()
test['Item_Fat_Content'] = test['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
test['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

Low Fat    3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

In [145]:
le = LabelEncoder()
var_mod = ['Item_Identifier','Item_Fat_Content','Item_Type','Outlet_Location_Type','Outlet_Size','Outlet_Type','Outlet_Identifier']
for i in var_mod:
    train[i] = le.fit_transform(train[i])
for col in categorical_features:
    print col
    print train[col].value_counts()

Item_Identifier
413     10
1077    10
702      9
390      9
1454     9
1542     9
750      9
1276     9
35       9
301      9
398      9
388      9
1350     9
1320     9
1107     9
1066     9
134      9
976      9
805      9
1120     9
1088     9
1358     9
1048     9
1383     9
1141     9
921      9
1132     9
1363     8
41       8
866      8
        ..
1293     2
1524     2
1001     2
864      2
943      2
291      2
640      2
225      2
628      2
742      2
1537     2
409      2
1512     2
342      2
1255     2
379      2
1327     2
26       2
444      2
11       2
822      2
819      1
945      1
577      1
686      1
351      1
46       1
1200     1
251      1
713      1
Name: Item_Identifier, Length: 1559, dtype: int64
Item_Fat_Content
0    5517
1    3006
Name: Item_Fat_Content, dtype: int64
Item_Type
6     1232
13    1200
9      910
5      856
4      682
3      649
0      648
8      520
14     445
10     425
1      251
7      214
11     169
15     148
2      110
12      64
Name: Item_Type, dtype: int64
Outlet_Identifier
5    935
1    932
6    930
9    930
8    930
7    929
3    928
2    926
0    555
4    528
Name: Outlet_Identifier, dtype: int64
Outlet_Size
2    2793
0    2410
3    2388
1     932
Name: Outlet_Size, dtype: int64
Outlet_Location_Type
2    3350
1    2785
0    2388
Name: Outlet_Location_Type, dtype: int64
Outlet_Type
1    5577
0    1083
3     935
2     928
Name: Outlet_Type, dtype: int64

In [146]:
var_mod = ['Item_Identifier','Item_Fat_Content','Item_Type','Outlet_Location_Type','Outlet_Size','Outlet_Type','Outlet_Identifier']
for i in var_mod:
    test[i] = le.fit_transform(test[i])
for col in categorical_features_test:
    print col
    print test[col].value_counts()

Item_Identifier
680     8
734     8
45      8
1470    8
1064    8
573     8
811     8
1242    8
340     7
1497    7
1501    7
1386    7
26      7
257     7
119     7
459     7
1442    7
618     7
1379    7
1358    7
1068    7
584     7
121     7
249     7
991     7
1504    7
390     7
498     7
936     7
1187    7
       ..
396     1
1056    1
42      1
742     1
941     1
1345    1
1337    1
574     1
18      1
357     1
1151    1
1449    1
299     1
948     1
952     1
1095    1
873     1
1218    1
534     1
815     1
244     1
527     1
252     1
977     1
229     1
1372    1
1368    1
412     1
984     1
1053    1
Name: Item_Identifier, Length: 1543, dtype: int64
Item_Fat_Content
0    3668
1    2013
Name: Item_Fat_Content, dtype: int64
Item_Type
13    789
6     781
9     638
5     570
4     454
0     438
3     435
8     338
10    311
14    281
1     165
7     148
15    121
11    111
2      76
12     25
Name: Item_Type, dtype: int64
Outlet_Identifier
5    624
1    621
6    620
9    620
8    620
7    619
3    618
2    617
0    370
4    352
Name: Outlet_Identifier, dtype: int64
Outlet_Size
2    2828
1    1862
0     621
3     370
Name: Outlet_Size, dtype: int64
Outlet_Location_Type
2    2233
1    1856
0    1592
Name: Outlet_Location_Type, dtype: int64
Outlet_Type
1    3717
0     722
3     624
2     618
Name: Outlet_Type, dtype: int64

In [147]:
x = train.iloc[:,0:11]
y = train.iloc[:,11]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 1)

In [148]:
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
pd.DataFrame(zip(x.columns,lr.coef_),columns=['features','estimated coef'])

                     features  estimated coef
0             Item_Identifier        0.027980
1                 Item_Weight        1.263041
2            Item_Fat_Content       56.301216
3             Item_Visibility    -1741.716532
4                   Item_Type        1.060299
5                    Item_MRP       15.698556
6           Outlet_Identifier       64.608844
7   Outlet_Establishment_Year       -8.549785
8                 Outlet_Size     -145.995743
9        Outlet_Location_Type     -154.865634
10                Outlet_Type      922.796117

In [128]:
print(r2_score(y_test,y_pred))
print(np.sqrt(mean_squared_error(y_test,y_pred)))

0.5063819170643784
1198.2842336397807

In [150]:
lr.fit(x,y)
pred = lr.predict(test)
pred

array([2103.82005411,  964.75709646, 1874.88854438, ..., 1681.6576837 ,
       2906.55334126, 1088.02692904])